
.vscode/launch.json
COMP1003Mastermind/.vs/COMP1003Mastermind/xs/project-cache/COMP1003Mastermind-Debug.json
COMP1003Mastermind/.vs/COMP1003Mastermind/xs/UserPrefs.xml
COMP1003Mastermind/COMP1003Mastermind/bin/Debug/netcoreapp3.1/COMP1003Mastermind.deps.json
COMP1003Mastermind/COMP1003Mastermind/bin/Debug/netcoreapp3.1/COMP1003Mastermind.dll
COMP1003Mastermind/COMP1003Mastermind/bin/Debug/netcoreapp3.1/COMP1003Mastermind.pdb
COMP1003Mastermind/COMP1003Mastermind/bin/Debug/netcoreapp3.1/COMP1003Mastermind.runtimeconfig.dev.json
COMP1003Mastermind/COMP1003Mastermind/bin/Debug/netcoreapp3.1/COMP1003Mastermind.runtimeconfig.json
COMP1003Mastermind/COMP1003Mastermind/obj/COMP1003Mastermind.csproj.nuget.dgspec.json
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/.DS_Store
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.AssemblyInfo.cs
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.AssemblyInfoInputs.cache
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.assets.cache
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.csproj.CoreCompileInputs.cache
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.csproj.FileListAbsolute.txt
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.csprojAssemblyReference.cache
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.dll
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.genruntimeconfig.cache
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.pdb
COMP1003Mastermind/COMP1003Mastermind/obj/project.assets.json
COMP1003Mastermind/COMP1003Mastermind/obj/project.nuget.cache
COMP1003Mastermind/COMP1003Mastermind/obj/COMP1003Mastermind.csproj.nuget.dgspec.json
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.assets.cache
COMP1003Mastermind/COMP1003Mastermind/obj/Debug/netcoreapp3.1/COMP1003Mastermind.csprojAssemblyReference.cache
COMP1003Mastermind/COMP1003Mastermind/obj/project.assets.json
COMP1003Mastermind/COMP1003Mastermind/obj/project.nuget.cache
